div.altmetric-embed > a {
  text-indent: 0px;
  float: right;
  margin-left: 10px;
  position: relative;
  margin-bottom: .5em;
}

.google-scholar {
	float: right;
	position: relative;
	left: -10px;
	margin-bottom: .5em;
}

.google-scholar img {
	border: 1px solid lightgrey;
	position: relative;
	height: 13px;
	padding: 3px 3px 2px 3px;
}

.clear {
	clear: right;
}

.metricbubble {
   padding: .2em 1.2em .2em 1.2em;
   height: 18px;
   position: relative;
   top: -.1em;
   left: 35px;
   border: 1px solid lightgrey;
   font-family: arial;
   font-size: .7em;
   /*color: darkgrey;*/
   background-color: white;
}

.singlespace + dl dd p::before {
	content: ':: ';
	position: relative;
	top: -.15em;
}

.singlespace + dl dd+dd {
	margin-top: -1.5em;
}

.noheading + dl dt {
	height: 0px;
}

a.with-genericon {
	text-decoration: none;
	position: relative;
	top: .15em;
	font-size: 1.2em;
}

a.with-genericon {
	font-family: genericons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a.externalLink:before {
	content: '\f442';
	color: orange;
	font-weight: bold;
}

a.contant-icon {
	font-size: 1.5em;
}

a.videoLink:before {
	content: '\f213';
	color: #cd201f;
}

a.slidesLink:before {
	content: '\f213';
	color: #396;
}

a.twitterLink:before {
	content: '\f202';
	color: #4099FF;
}

a.githubLink:before {
	content: '\f200';
	color: #gray;
}

a.emailLink:before {
	content: '\f410';
	color: #4f5d74;
}

@media screen {
	h1 + h2 + p  {
		margin-top: -1.3em;
	}
}

@media print {
	a.doiLink {
		display: none;
	}

	a.with-genericon {
		display: none;
	}
}
