body.pdf {
    color: black;

    .container {
        width: 1250px;          /* with sufficient font size, fit into 2 pages */
        margin: auto -65px;
        padding: 0;
        background: #fff;       /* #fff for white; originally whiteSmoke */
        border: none;
        border-width: 8px 0 2px 0;
        text-align: left;
        font-size: 130%;        /* scale all text size, was happy with 115% */
    }

    .resume {
        position:relative;
        padding: 40px 80px;
    }

    a {
        text-decoration: none;
        color: black;
	    word-wrap: break-word;
    }

    a[href$='.pdf'] {

        background: url(icons/pdf_icon.svg) left center no-repeat;
        /* padding:0 25px 0 0; */
        white-space: nowrap;
        background-size: contain;
    }

    a[href$='.pdf']:after {
        content: "\00a0\00a0\00a0\00a0\00a0" attr(href); /*add non-breaking whitespace*/
    }

    a[href$='.html']:after {
        content: attr(href);
    }
    
    blockquote {
        top: 40px;
        right: 80px;
        position: absolute;
        text-align: right;

        a[href$='.pdf'] {
            display: none;
        }
        
        a[href$='.html'] {
            display: inline;
        }
    }

    hr {
        page-break-before: avoid !important;
        page-break-after: avoid !important;
    }

    h1 {
        letter-spacing: 0;
        margin-top: 0;
        font-size: 300%;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    h2 {
        letter-spacing: 0;
        text-transform: uppercase;
        font-style: italic;
        font-weight: normal;
        padding-bottom: .2em;    /*reduce since 'Download PDF' no longer present*/
    }

    h3, h4 {
        page-break-after: avoid !important;
    }
    
    h3 {
        padding: 0 1em .5em;
        float: left;
        width: 11%;  /* change to move content to the right */
        font-size: 130%;
        font-style: normal;
        page-break-after: avoid !important;
    }
    
    h3+p {
        float: left;
        width: 76%;
    }

    h3+ul {
        width: 73%;           /*666 px max before become unaligned*/
        text-align: left;
        text-justify: none;

        li {
            float: left;        /*side-by-side alignment falls apart without this*/
            margin: 0;
            padding: 0;
        }
        
        dl {
            
            dt {
                font-weight: normal;
                margin: 0 0 .75em;
            }
            dd {
                width: 100%;
                padding: 0 0 0 0;
            }
        }
    }

    #skills+ul {
        width: 80%;

        li {
            display: block;     /*list form*/
            width: 33%;        /*list: 130%; table: 33%*/
        }

        dl {
            width: 98%;

            dt {
                /* font-size: 115%; /\* works for both skills and references *\/ */
                /* margin: 0 0 0.25em; */
            }

            dd {
                font-size: 90%;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }
    }

    #references+ul {
        width: 77%;

        li {
            display: block;
            width: 32%;        /*list: 130%; table: 33%*/
        }

        li:nth-child(1) {  /* first reference */
            width: 33%;
        }        

        li:nth-child(2) {  /* second reference */
            width: 36%;
        }

        li:nth-child(3) {  /* third reference */
            width: 31%;
        }        
        
        dl {
            margin: 0;
            dt {
                /* font-size: 115%; /\* works for both skills and references *\/ */
                margin-bottom: .25em;
            }

            dd {
                font-size: 90%;
                /* line-height: 1.2em; */
                margin: 0;
                word-wrap: break-word;
            }
        }
    }

    h4 {
        margin: 0em 0em 0em 20%;
        padding: 0.5em 0;
        page-break-after: avoid !important;
    }

    h4+ul {
        width: 76%;
        margin: -1em 0 0 20%;
        page-break-before: avoid !important;
    }

    ol {
        float: left;
        width: 73%;
        margin: .7em 0 0;
        page-break-inside: avoid !important;
    }

    ol li {
        width: 33%;
        margin: 0;
        font-size: 95%;
    }
    ol li:nth-child(3n) {
        width: 34%;
    }
    ol li:nth-child(1), ol li:nth-child(2), ol li:nth-child(3) {
        border-top: none;
    }

    dl {
        margin: .7em 0 0;
        page-break-inside: auto; /* used to be: avoid !important */
        display: inline-block;
        width: 76%;
        float: left;
        dt {
            page-break-after: avoid !important; /* avoid, but not for sure */
        }
        dd {
            font-size: 90%;
            /* page-break-inside: avoid !important; */
            page-break-before: avoid !important;
        }
        strong {
            float: right;
            margin-top: -2em;
            width: 20%
        }
        em {
            font-size: 130%;
            font-style: normal;
        }

    }

    table {
        margin: -0.6em 0em 1em 20%;
        width: 75%;
        font-size: 90%;
        page-break-inside: avoid !important;
        page-break-before: avoid !important;        
    }

    #fellowships+table,
    #travel+table,
    #programs+table,
    #conferences+table {

        td {
            padding-bottom: 0px; /*10px for better spacing between multiline cells*/
        }
        
        td:nth-child(1) {
            width: 47%;
        }

        td:nth-child(2) {
            width: 41%;
        }
    }

    #programs+table,
    #travel+table,
    #coursework+table {
        td:nth-child(1) {
            width: 80%;
        }

        td:nth-child(2) {
            width: 20%;
        }        
    }

    div.footer {
        display: none;          /* hide the footer since can't print on every page*/
    }

    div.personalstatement {
        /* only the widths of h3 and h3+p were redefined, so set them back */
        h3 {
            width: 100%;
            margin: 0 0 0.5em;

            strong {
                float: right;
                position: relative;
                top: 8px;
                font-size: 18px; /*inherited from h3+p*/
                font-style: bold;
            }
        }

        #personalstatement {
            margin: 0;
        }

        p {
            width: 100%;
        }

        table {
            margin: -0.6em 0em .5em 0%;
            width: 100%;
        }

        h4 {
            margin: 0.4em 0 0;
            padding: 0;
            font-style: italic;
        }

        h4+ul {
            margin: 0;
        }
    }
}
