.clearfix {
    zoom: 1;
	&:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: ".";
    }
}

body {
    font-family: 'Hoefler Text', Times New Roman, Times, serif;
    color: #444;
}
h1, h2, h3, h4, ul dl dt {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0;
    background: whiteSmoke;
    border: solid #666;
    border-width: 8px 0 2px 0;
    text-align: left;
}

.resume {
    position:relative;
    padding: 10px 20px;
}

a {
    color: #990003;
}

a[href$='.pdf'] {

    background: url(icons/pdf_icon.svg) right center no-repeat;
    padding:0 25px 0 0;
    white-space: nowrap;
    background-size: contain;
}

blockquote {
    margin: 0;
    padding: 0;
    line-height: 1.4em;

    a[href$='.pdf'] {
        
        display: inline-block;
        background: #666;
        color: white;
        padding: 6px 12px;
        margin-bottom: 6px;
        text-decoration: none;
    }

    a[href$='.html'] {          /*hide website link*/
        display: none;
    }
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 18px auto;
    width: 100%;
    clear: both;
    border: none;
    border-top: 1px solid #CCC;
    font-size: 1px;
    line-height: 0;
    overflow: visible;
    page-break-after: avoid;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 300%;
    letter-spacing: -1px;
    font-weight: normal;
}
h2 {
    margin: 0;
    padding-bottom: 8px;        /*tweak this to adjust hr position*/
    font-size: 112.5%;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: normal;
}

h3 {
    margin: 0px 20px;
    padding: 0 0 .5em;
    font-size: 150%;
    font-style: italic;
    font-weight: normal;
}        

h3+p {
    margin: .6em 0 16px;
    padding: 0;
    display: block;
    font-size: 104%;
    line-height: 24px;
}

h3+ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    text-align: left;


    li {
        margin: 0;
        padding: 0;
    }

    dl {
        margin: .3em 0 0;
        padding: 0;
        width: 100%;
            
        dt {
            font-size: 115%;
            margin-bottom: .75em;
        }
        dd {
            margin: 0 0 1em;
            padding: 0 2em 0 0;
            font-size: 80%;
            line-height: 1.5em;
        }
    }
}

h4 {
    font-weight: normal;
    font-size: 120%;
}

h4+ul {
    display: inline-block;
    padding: 0;
    list-style: none;

    li {
        margin: 0.5em 0;
    }
}

ol {
    padding: 0 0 .75em;
    display: inline-block;
}

ol li {
    margin: 0 0 0 1em;
    padding: 0;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    float: left;
    list-style: none;
    line-height: 24px;
    font-size: 87.5%;
}
ol li:nth-child(1) {
    border-top: none;
}

dl {
    display: inline-block;
    margin: 0;
    padding: 0;
    dt {
        margin: 0;
        padding: 0;
        font-size: 140%;
    }
    dd {
        margin: 0 0 1.5em;
        padding: 0;
        font-size: 80%;
        line-height: 1.4em;
    }
    dd p {
	margin: 0px;
	display: table;
	columns: 3;
    }
    strong {
        display: block;
    }
    em {
        display: block;
        font-size: 110%;
        margin: .15em 0 .5em;
        font-style: bold;
    }
    
}

table {
    font-size: 85%;
    border-collapse: collapse;

    td {
        vertical-align: top;
    }

    td:nth-child(1) {
        width: 45%;
    }

    td:nth-child(2) {
        width: 45%;
    }
}

#coursework+table {
    
    td:nth-child(1) {
        width: 65%;
    }

    td:nth-child(2) {
        width: 35%;
    }        
}

#fellowships+table,
#travel+table,
#programs+table,
#conferences+table,
#fellowshipsshort+table,
#travelshort+table,
#programsshort+table,
#conferencesshort+table,
#teaching+table {

    thead {
	    display:none;
    }
}

#fellowshipsshort+table,
#travelshort+table,
#programsshort+table,
#conferencesshort+table {
    
    td:nth-child(1) {
        width: 85%;
    }
}

#teaching+table {
    
    td:nth-child(1) {
        width: 75%;
    }

    td:nth-child(2) {
        width: 15%;
    }    
}


#footer {
    display: none;
}

#footer + p {
    width: 100%;
    font-size: 70%;
    text-align: center;
}

div.personalstatement {

    h3 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    p {
        margin: .6em 0 16px;
        padding: 0;
        display: block;
        width: 100%;
        font-size: 100%;
        text-align: justify;
        text-justify: distribute;
        line-height: 24px;
    }

}

@media all {
	.page-break	{
        display: none;
    }
}

@media print {
	.page-break	{
        display: block;
        page-break-before: always;
    }
}
