.clearfix {
  zoom: 1;
	&:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: ".";
    }
}

body {
    font-family: 'Hoefler Text', Times New Roman, Times, serif;
    color: #444;
}
h1, h2, h3, h4, ul dl dt {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
}

h4 {
    margin: -.2em 0em .1em;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    padding: 0;
    background: whiteSmoke;
    border: solid #666;
    border-width: 8px 0 2px 0;
    text-align: left;
}

.resume {
    position:relative;
    padding: 10px 20px;
}

a {
    color: #990003;
}

blockquote > a[href$='.pdf'] {
    display: inline-block;
    background: #666;
    color: white;
    padding: 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
}

blockquote {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

hr {
    display: block;
    position: relative;
    padding: 0px 0px 8px;
    margin: 2em 0px 1em;
    width: 100%;
    clear: both;
    border: none;
    border-top: 1px solid #CCC;
    font-size: 1px;
    line-height: 0;
    overflow: visible;
    page-break-after: avoid;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: normal;
}
h2 {
    margin: 0em 0em 1em;
    padding: 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: normal;
}

h3 {
    margin: 0px 20px;
    padding: 0 0 .5em;
    font-size: 140%;
    font-style: italic;
    font-weight: normal;
}

h3+p {
    margin: .6em 0 16px;
    padding: 0;
    display: block;
    font-size: 104%;
    line-height: 24px;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
}
ul li {
    margin: 0;
    padding: 0;
}

ul dl {
    margin: .3em 0 0;
    padding: 0;
    width: 100%;
    dt {
        font-size: 100%;
    }
    dd {
        margin: 0 0 1em;
        padding: 0 2em 0 0;
        font-size: .8em;
        line-height: 1.5em;
    }
}

ol {
    margin: 0;
    padding: 0 0 .75em;
    width: 84%;
    display: inline-block;
}

ol li {
    margin: 0 0 0 1em;
    padding: 0;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    float: left;
    list-style: none;
    line-height: 24px;
}
ol li p {
    margin: 0px;
}

ol li:nth-child(1) {
    border-top: none;
}

ol li h4 {
    margin: 1em 0em 0em;
}

dl {
    display: inline-block;
    width: 79%;
    margin: 0;
    padding: 0;
    dt {
        margin: 0;
        padding: 0;
        font-size: 120%;
    }
    dd {
        clear: right;
        margin: 0 0 1.5em;
        padding: 0;
        line-height: 1.4em;
        padding-left: 30px;
        text-indent: -30px  ;
    }
    dd p {
        margin: 0px;
    }
    
}

#footer {
    display: none;
}

#footer + p {
    width: 100%;
    font-size: 11px;
    text-align: center;
}
